body {
  background-color: #2b3467;
  margin: 0;
  padding: 0;
}
.me {
  position: relative;
  width: 100%;
  height: auto;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45%;
  left: 3%;
  padding: 30px;
  padding-right: 40%;
  justify-content: center;
  align-items: center;
}

.msg {
  color: #fff;
  font-size: 100px;
}
.name {
  color: #fff;
  font-size: 80px;
}
.roles {
  color: white;
  font-size: 31px;
}
.intro {
  color: white;
  font-size: 31px;
}
.myname {
  color: #2b3467;
  background-color: #fff;
  background-blend-mode: lighten;
}
.navigation {
  position: absolute;
  top: 7%;
  left: 86%;
  transform: translateX(-50%);
  /* color: #000; */
  font-size: 30px;
  font-weight: bold;
  display: flex;
  gap: 20px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  transition: 0.03s;
}
.navigation a:hover {
  text-decoration: underline;
}

.aboutcontainer {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative; /* Add position relative to enable absolute positioning of button */
}
.heading1 {
  text-align: center;
  color: #2b3467;
  font-size: 45px;
}
.heading2 {
  text-align: center;
  color: #2b3467;
  font-size: 35px;
  position: absolute;
  bottom: 420px; /* Adjust as needed to position the button below the .desc section */
  left: 65%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.me2 {
  display: flex;
  justify-content: space-;
}

#img2 {
  width: 400px;
}

.desc {
  color: black;
  font-size: 31px;
  font-style: italic;
  background: transparent;
  border: 5px solid #2b3467;
  border-radius: 1%;
  border: 5px blur #bad7e9;
  margin: 17% 10% 20% 8%;
  padding: 20px 6px 20px 20px;
  text-align: center;
  box-shadow: 10px 10px 5px lightblue;
}

.aboutnavigation {
  color: #bad7e9;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  gap: 20px;
  margin-left: 30%;
  padding: 30px 25px 25px;
}

.aboutnavigation a {
  color: #2b3467;
  text-decoration: none;
  transition: 0.03s;
}
.aboutnavigation a:hover {
  text-decoration: underline;
  background-color: #bad7e9;
}

.download-cv-btn {
  background-color: #63a7d1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: 65%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.download-cv-btn:hover {
  background-color: #2b3467;
}

.eee {
  background-image: url("watercolorpink.jpg");
  background-size: 0 20%;
  background-position: center;
  height: 20%;
}

.containeri {
  position: absolute;
  top: 250%;
  padding-top: 30px;
  padding-right: 35%;
  position: center;
  margin-left: 17%;
}

.tab-titles {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  font-size: larger;
  font-style: oblique;
  font-size: 35px;
}

.tab-links {
  cursor: pointer;
  padding: 10px;
  padding-left: 90px;
  padding-right: 90px;
  transition: background-color 0.3s;
}

.tab-links.active-link {
  border-bottom: 2px solid #2b3467;
}

.tab-contents {
  display: none;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}

.tab-contents.active-tab {
  display: block;
}

.tab-contents ul {
  list-style: none;
  padding: 0;
}
.bgimg {
  height: 20%;
}
.role {
  color: #2b3467;
}

.skillscontainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b3467;
  color: antiquewhite;
  font-family: "poppins", sans-serif;
}

.sub-title {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

.sub-title span {
  color: #bad7e9;
}
.title {
  text-align: center;
  font-size: 30px;
}

.container1 {
  width: 600px;
  margin: 0 auto;
}

.mybars {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.bar {
  width: 50%;
  padding-left: 50px;
}

.bar i {
  font-size: 30px;
  margin-right: 10px;
}

.bar span {
  font-size: 20px;
}

.progress-line {
  width: 90%;
  height: 10px;
  background-color: #2d2f30;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
  border: 2px solid black;
}

.progress-line span {
  display: block;
  height: 100%;
  background-color: #0e91b2;
}

.containertest {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.h1t {
  color: #2b3467;
  font-size: 40px;
}

.testimonial {
  margin-bottom: 30px;
}

blockquote {
  font-style: italic;
  border-left: 2px solid #2b3467;
  padding-left: 20px;
  font-size: 30px;
}

.author {
  margin-top: 10px;
  color: #555;
  font-style: italic;
  font-size: 20px;
}

/* ==================================================== */

.head p {
  margin: 0%;
  padding-left: 40px;
  padding-top: 50px;
  font-size: 100px;
  color: #fff;
}

.contact {
  display: flex;
  justify-content: center;
}

.contactcontainer {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.formc {
  max-width: 400px;
  margin: 20px 0;
}

.labelc {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 19px;
}

.inputc,
.textareac {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.para {
  margin-bottom: 10px;
  color: #bad7e9;
  font-size: 20px;
}

.images {
  display: flex;
  justify-content: center;
}

.images img {
  margin: 20px;
  width: 40px;
}

.images img:hover {
  transform: scale(1.2);
}

.alink {
  text-decoration: none;
  color: #2b3467;
}

.alink:hover {
  text-decoration: underline;
}

.buttonc {
  background-color: #7077a1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.buttonc:hover {
  font-size: 16px;
}

/* Projects */
.projects {
  max-width: auto;
  height: 400px;
  background-color:#040a39;
 
}
